body {
  background-image: url(./bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.pokedex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokedex h1 {
  color: white;
  font-size: 5em;
}

.pokedex ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pokedex li {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  padding: 0.5em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: white;
  color: black;
}

.pokedex li:hover {
  background-color: #000;
  color: white;
}

.pokemon-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-detail h1 {
  padding: 0.5em;
  border-radius: 20px;
  background-color: white;
  font-size: 2rem;
  margin: 1rem 0;
}

.pokemon-detail img {
  width: 250px;
  height: 250px;
  object-fit: contain;
  margin: 1rem 0;
  transition: all 0.4s ease;
}

.pokemon-detail img:hover {
  scale: 1.5;
  transition: all 0.4s ease;
}

.pokemon-detail ul {
  padding: 1em !important;
  border-radius: 20px;
  background-color: white;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pokemon-detail li {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

